.App {
  text-align: center;
}

.footer {
  position: fixed;
  font-family: 'Times New Roman', Times, serif;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color:White;
  color: white; */
  text-align: center;
}

/* .navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0%;
  width: 100%;
} */

.active {
  background-color: red !important;
}
.node {
  width: 1.7rem;
  height: 1.7rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  margin: 1em 1.5em 1em 1.5em;
}
.node:hover {
  cursor: pointer;
  opacity: 0.6;
}
#playlist {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  width: 60rem;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em auto;
}

#monster-wrapper {
  width: 50rem;
  height: 30rem;
  border: 1px solid gray;
  margin: 1em auto;
}

#monster-wrapper img {
  margin: 5em 3em;
  width: 10rem;
  height: 10rem;
}

.save-btn {
  font-size: 50%;
  margin-left: 1em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





















